<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="trPrefixColor" converterClass="io.github.footermandev.tritium.logging.AnsiLevelPrefixColorConverter" />
    <conversionRule conversionWord="trColorReset" converterClass="io.github.footermandev.tritium.logging.AnsiResetConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%trPrefixColor[%d{HH:mm:ss}] [%thread/%level] [%logger]: %trColorReset%msg%n%ex</pattern>
        </encoder>
    </appender>
    <appender name="TRITIUM_FILE" class="io.github.footermandev.tritium.logging.LogAppender" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TRITIUM_FILE" />
    </root>
</configuration>
